.logo-container {
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
}
.logo-img {
    width: 40px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust spacing */
    margin-bottom: 25px;
    margin-top: -15px;
}
.logo-text {
    font-size: 30px; /* Adjust font size */
    margin-bottom: 25px;
    margin-top: -15px;
    font-weight: bold;
    color: #fff; /* Adjust text color */
}
.language-selector-container{
    display: flex;
}

.buttons{
    display: flex;
}
.runcode-btn{
    margin-left: 41.6%;
}

.editor-boxes{
    display: flex;
    gap: 20px;
}
.left{
    width: 70%;
}
.left-side{
    width: 70%;
}
.right{
    width: 70%;
}
.right-side{
    width: 70%;
}

.user-box{
    display: flex;
    gap: 40px;
    margin: 20px;
}
.user-img{
    height: 70px;
}

@media(max-width: 500px){
    .runcode-btn{
        margin-left: 9px;
    }
    .return-btn{
        margin-left: 9px;
    }
}